<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div class="header-strip"></div>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/logo.png" class="site-logo" />
                </div>
                <div class="float-left">
                    <span class="site-title"><a href="~/">Financial Tax &amp; Business Administrators CC</a></span>
                </div>
                <div class="float-left">
                    <nav>
                        <ul id="menu">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/About">About us</a></li>
                            <li><a href="~/Services">Services</a></li>
                            <li><a href="~/Meet">Meet the team</a></li>
                            <li><a href="~/Faq">FAQ</a></li>
                            <li><a href="~/Contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="banner-wrapper">
            <img src="~/Images/banner.png" class="banner" />
        </div>
        <div id="body">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>Financial Tax &amp; Business Administrators CC</p>
                    <p>CK 1994/29595/23</p>
                    <p>Member: A.M.C.M. DeSousa Bold</p>
                </div>
                <div class="float-right">
                    <p>Copyright &copy; F.T.B.</p>
                    <p>All rights reserved</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
    </body>
</html>