@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About us";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>