@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact us";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="contact">
    <p>Phone: <span>021 555 1686</span></p>
    <p>EmailToFax: <span>086 626 1297</span></p>
    <p>Fax: <span>021 555 1268</span></p>

    <h3>Address:</h3>
    <p>
        Office 2B, 2nd Floor <br />
        Milnerton Mall<br />
        Cnr Loxton & Koeberg Road, 7441
    </p>
    <p>
        P.O. Box 7955, Roggebaai, 8012
    </p>
</section>