@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}


<div class="card-wrapper">
    <h1>Meet the team</h1>
    <p>ksdfhjdk  dfdskf skfhsdfk dsh ksdfhs dkfhsd ksdkfsdkfh ds fksdfh kdjfh dskhfds</p>
</div>
<div class="card-wrapper">
    <h1>Services</h1>
    <p>ksdfhjdk  dfdskf skfhsdfk dsh ksdfhs dkfhsd ksdkfsdkfh ds fksdfh kdjfh dskhfds</p>
</div>
<div class="card-wrapper">
    <h1>FAQ</h1>
    <p>ksdfhjdk  dfdskf skfhsdfk dsh ksdfhs dkfhsd ksdkfsdkfh ds fksdfh kdjfh dskhfds</p>
</div>
<div class="card-wrapper">
    <h1>Helpful links</h1>
    <p>ksdfhjdk  dfdskf skfhsdfk dsh ksdfhs dkfhsd ksdkfsdkfh ds fksdfh kdjfh dskhfds</p>
</div>