@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Welcome to F.T.B. Administrators";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>
<div class="card-wrapper">
    <div class="card">
        <h1>Meet the team</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin risus turpis, aliquet molestie nulla ac, euismod consectetur sapien.
        </p>
    </div>
    <div class="card-link"><a href="~/Meet.cshtml">more...</a></div>
</div>
<div class="card-wrapper">
    <div class="card">
        <h1>Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin risus turpis, aliquet molestie nulla ac, euismod consectetur sapien.</p>
    </div>
    <div class="card-link"><a href="~/Services.cshtml">more...</a></div>
</div>
<div class="card-wrapper">
    <div class="card">
        <h1>FAQ</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin risus turpis, aliquet molestie nulla ac, euismod consectetur sapien.</p>
    </div>
    <div class="card-link"><a href="~/Faq.cshtml">more...</a></div>
</div>
<div class="card-wrapper">
    <div class="card">
        <h1>Helpful links</h1>
        <p><a href="https://secure.sarsefiling.co.za/" target="_blank">SARS e-filing</a></p>
        <p><a href="https://www.nedbank.co.za/content/nedbank/desktop/gt/en/personal/tools-and-guidance/calculators.html" target="_blank">Financial calculators</a></p>
        <p><a href="https://www.ft.com/" target="_blank">Financial times</a></p>
    </div>
</div>