@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Meet the team";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque cursus ligula sit amet sem placerat cursus. Sed dapibus metus eu nulla tempus, tincidunt pretium nisi
    imperdiet. Nulla finibus ligula auctor faucibus pretium. Proin risus turpis, aliquet molestie nulla ac, euismod consectetur sapien.
</p>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/woman-silhouette.png" title="Alida DeSousa Bold" /></div>
    <div class="person">Alida DeSousa Bold<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/man-silhouette.png" title="Frank Bold" /></div>
    <div class="person">Frank Bold<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/man-silhouette.png" title="Warren Pretorius" /></div>
    <div class="person">Warren Pretorius<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/woman-silhouette.png" title="Cailyn Woodberg" /></div>
    <div class="person">Cailyn Woodberg<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/woman-silhouette.png" title="Lucy" /></div>
    <div class="person">Lucy<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/woman-silhouette.png" title="Bobby" /></div>
    <div class="person">Bobby<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/man-silhouette.png" title="Andrew" /></div>
    <div class="person">Andrew<br />Title</div>
</div>
<div class="businesscard-wrapper">
    <div class="photo"><img src="~/Images/man-silhouette.png" title="Malcolm Wilke" /></div>
    <div class="person">Malcolm Wilke<br />Title</div>
</div>