@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>